
__pycache__/
*.py[cod]
*.pyo

*.log

venv/
.env

.vscode/

.DS_Store
Thumbs.db

node_modules/
package-lock.json
npm-debug.log

*.bak
*.tmp

build/
dist/

checkbox.robot
click.robot
home.robot
login.robot
radio.robot
spinner.robot
swipe.robot
